<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        {% stylesheet app %}
        {% stylesheet includes %}
        {% javascript app %}

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Abel|Quicksand|Josefin+Sans|Open+Sans+Condensed:300|Raleway|Marvel|Julius+Sans+One' rel='stylesheet' type='text/css'>

    </head>

    <body>
      
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#" class = "title">{{site.name}}</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active" id="nav-link"><a href="#">How It Works</a></li>
      <li class="active" id="nav-link"><a href="#">FAQ</a></li>
      <li class="active" id="nav-link"><a href="#">About Us</a></li>
      <li class="active" id="nav-link"><a href="#">Contact</a></li>
    </ul>
  </section>
  </nav>


          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Your Name<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
